[Desktop Entry]
Name=Camper
Comment=A simple Bandcamp music player client
Exec=camper
Icon=camper
Terminal=false
Type=Application
Categories=Audio;Music;Player;
