[Desktop Entry]
Name=Camper
Comment=A simple Bandcamp music player client
Exec=camper
Icon=net.knoopx.camper
Terminal=false
Type=Application
Categories=Audio;Music;Player;
StartupWMClass=net.knoopx.camper
